<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="~/css/stylesheet.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
</head>
<body>
    <div class="dashboard-container" style="max-width:100%;">
        <!-- Sidebar Logo -->
        <div class="sidebar">
            <div class="sidebar-header">
                <div class="sidebar-logo">
                    <img class="logo" src="~/img/bootcamp.png" />
                </div>
                <span class="sidebar-title">BootCamp</span>
            </div>
            <!-- Sidebar  Links-->
            <nav class="sidebar-nav">
                <button class="nav-item active">
                    <i class="fas fa-home"></i>
                    <span>Home</span>
                </button>
                <button class="nav-item">
                    <i class="fas fa-users"></i>
                    <span>Employees</span>
                </button>
                <button class="nav-item">
                    <i class="fas fa-box"></i>
                    <span>Products</span>
                </button>
                <button class="nav-item">
                    <i class="fas fa-tags"></i>
                    <span>Categories</span>
                </button>
                <button class="nav-item">
                    <i class="fas fa-cog"></i>
                    <span>Setting</span>
                </button>
            </nav>
        </div>

       
            @RenderBody()
    </div>
    <script src="~/js/script.js"></script>
</body>
</html>